.testimonial {
    padding: 5rem 0;
    width: 100%;
    height: 100%;
}

.testimonial__container {
    width: 100%;
    height: 100%;
    padding: 2rem;
    background-color: var(--white-primary);
    border-radius: 2rem;
}

.testimonial__title {
    font-size: 5rem;
    font-weight: 700;
    background: var(--primary-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    max-width: 30rem;
    margin-bottom: 2rem;
}

.card {
    height: 30rem;
    width: 100%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}       

.card__testimonial {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 3rem;
    max-width: 60rem;
    text-align: center;
    color: var(--black-secondary);
}

.card__author {
    font-size: 2rem;
    color: var(--black-primary);
}

.card__designation {
    font-size: 1.5rem;
    color: var(--black-500);
}


@media screen and (max-width: 750px) {
    .card__testimonial {
        font-size: 2rem;
    }
}